.drawer-ux {
  $drawer-content-padding: 16px * 2;
  $text-line-height: 24px;

  $text-line: 5;
  $community-line: 8;
  $store-line: 7;
  $expert-line: 4;

  @function _getMaxHeight($line) {
    @return ($line * $text-line-height) + $drawer-content-padding;
  }

  .is-open {
    .drawer-menu-content {
      max-height: _getMaxHeight($text-line);
      padding: 16px 0;
    }

    &.non-folding {
      .drawer-menu-button {
        pointer-events: none;

        .ic-chevron {
          display: none;
        }
      }
    }

    &.is-text-link {
      .text-link {
        display: block;
      }
    }

    &.is-community {
      .drawer-menu-content {
        max-height: _getMaxHeight($community-line);
      }
    }

    &.is-store {
      .drawer-menu-content {
        max-height: _getMaxHeight($store-line);
      }
    }

    &.is-expert {
      .drawer-menu-content {
        max-height: _getMaxHeight($expert-line);
      }
    }
  }
}
