.guide-article {
  margin-bottom: 16px;

  &-header {
    width: 100%;
    padding: 8px 0;

    .title {
      @include text-style(18, $dark);
      font-style: italic;
      text-decoration: underline;
    }
  }

  &-content {
    width: 100%;
  }

  @include responsive('T') {
    margin-bottom: 40px;

    &-header {
      padding: 16px 0;

      .title {
        @include text-style(24);
      }
    }

    &-content {
      padding-left: 0;
    }
  }
}
