$sm-margin: 5px;
$sm-column: 4;
$sm-gutter: 20px;

$md-margin: 30px;
$md-column: 12;
$md-max-container: 960px + $md-margin * 2;
$md-gutter: 20px;

$lg-unit: 75px;
$lg-column: 12;
$lg-max-container: 1140px;
$lg-gutter: 20px;

.container {
  width: 100%;
  padding: 0 $sm-margin;

  .row {
    @include flexbox(start, start);
    flex-wrap: wrap;

    @for $i from 1 through $sm-column {
      .col-sm-#{$i} {
        width: percentage($i / $sm-column);
        padding: 0 ($sm-gutter / 2);
      }
    }
  }

  @include responsive('T') {
    max-width: $md-max-container;
    padding: 0 $md-margin;
    margin: auto;

    .row {
      @for $i from 1 through $md-column {
        .col-md-#{$i} {
          width: percentage($i / $md-column);
          padding: 0 ($md-gutter / 2);
        }
      }
    }
  }

  @include responsive('D') {
    max-width: $lg-max-container;
    padding: 0;

    .row {
      @for $i from 1 through $lg-column {
        .col-lg-#{$i} {
          width: ($lg-unit + $lg-gutter) * $i;
          padding: 0 ($lg-gutter / 2);
        }
      }
    }
  }
}
